body {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #ADFF00 0%, rgba(198, 255, 75, 0) 100%);
}

.logo {
    margin-bottom: 20px;
}

header {
    display: block;
}

nav {
    border: 5px solid black;
    background: #222222;
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
}



.container {
    text-align: center;
}

.banner {
    width: 100%;
}

.div-msg {
    width: 100%;
    background: #222222;
}

.msg {
   
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
 
    margin-bottom: 30px;
    margin-right: 400px;
    margin-left: 400px;
    
    padding: 20px;
    color: white;


}

.msg2 {
   
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
 
    margin-bottom: 30px;
    margin-right: 640px;
    margin-left: 640px;
    
    padding: 20px;
    color: white;
    border: 4px solid rgb(0, 255, 34);
    background: #222222;
    border-radius: 200px;
}








.coluna-texto-fotos {
    width: 500px;
    text-align: center;
    margin-left: 300px;
}

.sobre-zoe {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.animes {
    text-align: center;
}


.animes li {
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 0 5%;
    box-sizing: border-box;
    margin-bottom: 3%;
    padding: 10px;
    font-size: 24px;

    

    
}

.epps-disp {
    text-align: center;
}

.animes2 li {
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
   
    font-size: 24px;

    

    
}

.textoapp {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

    
}

.div-texto {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;

    padding: 20px;
    color: white;
    border: 4px solid rgb(0, 255, 34);
    background: #222222;
    border-radius: 20px;

}

.home-app {
    width: 250px;
    padding-bottom: 20px;
}


.cover-anime {
    width: 200px;
}



.apple {
    width: 200px;

}


.apps-disp {
    text-align: center;
}

.disp li {
    display: inline-block;
    margin: 0 2%;
}